body {
    font-family: 'Arial', sans-serif;
    background-color: #1c1c1e;
    color: #e5e5e7;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #2c2c2e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    width: 100%;
}

h2 {
    text-align: center;
    color: #f5f5f7;
    margin-bottom: 20px;
}

.course-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    color: #77b375;
}

.stars {
    display: flex;
    flex-direction: row-reverse; /* Mantiene el orden inverso de los inputs */
    justify-content: center; /* Centra las estrellas horizontalmente */
    align-items: center; /* Centra las estrellas verticalmente si hay espacio vertical disponible */
    margin: 0 auto; /* Asegura que el contenedor esté centrado */
    width: fit-content; /* Ajusta el ancho del contenedor al contenido */
}

.stars input[type="radio"] {
    display: none; /* Esconde los inputs */
}

.stars label {
    font-size: 30px;
    color: grey; /* Estrella sin seleccionar */
    cursor: pointer;
}

.stars input[type="radio"]:checked ~ label {
    color: gold; /* Estrella seleccionada */
}

.stars label:hover,
.stars label:hover ~ label {
    color: gold; /* Estrellas al pasar el mouse por encima */
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3a3a3c;
    background-color: #3a3a3c;
    color: #f5f5f7;
    box-sizing: border-box;
    margin-bottom: 15px;
    height: 100px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #77b375;
    color: #1c1c1e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #577a59;
}
