/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    background-image: url('../imagenes/bosque.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    color: #e5e5e7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
nav .logo {
    height: 40px; 
    margin-right: 20px; 
}
/* Contenedor Principal */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

/* Contenedores de Formularios */
.login-container, .register-container, .update-container, .course-create, .forgot-password-container {
    background-color: #2c2c2e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
}

/* Títulos */
h2 {
    text-align: center;
    color: #f5f5f7;
    margin-bottom: 20px;
}


input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="date"], 
input[type="file"], 
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #3a3a3c;
    border-radius: 5px;
    background-color: #3a3a3c;
    color: #f5f5f7;
    box-sizing: border-box;
}


button {
    width: 100%;
    padding: 12px;
    background-color: #77b375;
    color: #1c1c1e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #577a59;
}


.links {
    text-align: center;
    margin-top: 20px;
}

.links a {
    color: #77b375;
    text-decoration: none;
}

.links a:hover {
    color: #577a59;
    text-decoration: underline;
}

/* Estilo para el formulario de creación de curso */
.course-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.course-form .form-group {
    margin-bottom: 15px;
}

.course-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.course-form input[type="text"], 
.course-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.course-form select {
    width: calc(100% - 120px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.course-form .category-select {
    display: flex;
    align-items: center;
}

.course-form button {
    background-color: #2a1c3b;
    color: #f5f5f7;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.course-form button:hover {
    background-color: #1a0f27;
}

#new-category-section {
    margin-top: 15px;
}
.text-danger{
    color: #dc3545;
}