/* Asegúrate de que el navbar esté alineado correctamente y no tenga altura fija */
nav {
    background-color: #2c2c2e;
    padding: 0.5rem 0; /* Ajusta el padding para reducir la altura */
}

.navbar-brand {
    margin-right: 1rem; /* Ajusta el margen del logo */
}

.navbar-nav .nav-item {
    margin: 0; /* Elimina márgenes innecesarios */
}

.navbar-nav .nav-link {
    padding: 0.5rem 0.75rem; /* Ajusta el padding de los enlaces */
    font-size: 0.875rem; /* Ajusta el tamaño de la fuente si es necesario */
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: auto; /* Alinea la barra de búsqueda a la derecha */
}

.search-container .form-control {
    padding: 0.25rem; /* Ajusta el padding interno del input de búsqueda */
    font-size: 0.75rem; /* Ajusta el tamaño de la fuente del input */
}

.search-container .btn-outline-success {
    padding: 0.25rem 0.75rem; /* Ajusta el padding del botón */
    font-size: 0.75rem; /* Ajusta el tamaño de la fuente del botón */
}
